<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127987307044-dl7nb2m53vncum77g3jhk0givvi99dtf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127987307044-dl7nb2m53vncum77g3jhk0givvi99dtf</string>
	<key>API_KEY</key>
	<string>AIzaSyC8XBdQMfF0QDGxPu10z4JVir_kin_hWPs</string>
	<key>GCM_SENDER_ID</key>
	<string>127987307044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bibary.tourInfo</string>
	<key>PROJECT_ID</key>
	<string>infotour-869cd</string>
	<key>STORAGE_BUCKET</key>
	<string>infotour-869cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127987307044:ios:303b8ebc83d2e3c2e27eb1</string>
</dict>
</plist>